{% comment %} base.html {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>DeckZap - Player Built Card Games</title>
</head>
<body>
	{% if not "play" in request.path%}
		<h1 style="background-color:blue;margin:0;padding:5px;"><a style="color:white;text-decoration:none" href=/>DeckZap</a></h1>
	{% endif %}
	{% block content %}
	{% endblock content %}
	<div id=footer>
		{% if request.path != '/' %}
			<hr style="margin-top:60px;" />
			<div style="margin-left:5px">DeckZap - Player Built Card Games - <a href=/>Home</a></div>
		{% endif %}
	</div>
	{% block javascript %}
	{% endblock javascript %}
</body>
</html>