{% comment %} base.html {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>DeckZap - Uncollectible Card Games</title>
	{% block css %}
	{% endblock %}
</head>
<body>
	{% if not "play" in request.path%}
		<h1 style="background-color:blue;margin:0;padding:5px;line-height:.6;padding-top:15px;padding-bottom:10px;"><a style="color:white;text-decoration:none" href=/{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>DeckZap</a><br/><span style="color:#CCC;font-size:12px;margin:0;padding:0">Uncollectible Card Games</span></h1>
	{% endif %}
	{% block content %}
	{% endblock content %}
	<div id=footer>
		<div style="margin-top:60px;">
			<ul>
				{% if request.path != '/'%}
					<li><a href=/{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>Home</a></li>
					<li><a href=/games{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>Play Games</a></li>
					<li><a href=/build_deck{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>Build Deck</a></li>
				{% endif %}
				{% if request.path != '/' or request.GET.username %}
					<li><a href=/manifesto{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>Manifesto</a></li>
					<li><a href=https://discord.gg/eMrHZCTVN9 target=_new>Discord</a></li>
					{% if request.GET.username %}<li><b><a style="color:white;" href=/u/{{request.GET.username}}?username={{request.GET.username}}>My Decks</a></b></li>{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>
	<style>
		#footer ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: blue;
		}

		#footer li {
		  float: left;
		}

		#footer li a {
		  display: block;
		  color: lightgray;
		  text-align: center;
		  padding: 16px;
		}

		#footer li a:hover {
		  background-color: #111111;
		}

	</style>
	{% block javascript %}
	{% endblock javascript %}
</body>
</html>