{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>DeckZap - Uncollectible Card Games</title>
	<link rel="stylesheet" href="/static/css/base.css">
	{% block css %}{% endblock %}
</head>
<body>
	{% if not "play" in request.path and not "/u/" in request.path %}
		<h1 class="blue-header blue-header-tall"><a class="white-link" href=/{% if user.is_authenticated %}u/{{user.username}}{% endif %}>DeckZap</a><br/><span class=subtitle>Uncollectible Card Games</span></h1>
	{% elif "/u/" in request.path %}
		<h3 class="blue-header"><a class="white-link" href=/{% if user.is_authenticated %}u/{{user.username}}{% endif %}>D</a><br/></h1>
	{% endif %}
	{% block content %}{% endblock content %}
	<div id=footer>
		<div class="footer-content">
			<ul class="right-menu">
					<li><a href=https://github.com/andrewljohnson/deckzap target=_new>GitHub</a>
					<li><a href=https://deckzap.substack.com/ target=_new>Substack</a></li>					
					<li><a href=https://discord.gg/eMrHZCTVN9 target=_new>Discord</a></li>					
			</ul>
			<ul>
				{% if request.path != '/signup' and request.path != '/login' %}
					{% if not user.is_authenticated %}
						<li><a href=/login>Log In</a></li>
					{% endif %}
					{% if user.is_authenticated %}
						<li><a href=/u/{{user.username}}>My Decks</a></li>
						<li><a class="gray-link" href=/logout>Logout</a></li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>
	{% if request.path != "/" %}
		{% if request.META.HTTP_HOST == "127.0.0.1:8000" %}
		    <script src="http://localhost:1234/main.js"></script>
		{% else %}
		    <script src="{% static 'dist/main.js' %}"></script>
		{% endif %}
	{% endif %}
	{% block javascript %}{% endblock javascript %}
</body>
</html>
