{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script src = "{% static 'js/deckbuilder.js' %}"></script>
<script type="text/javascript">
	var deckBuilder = new DeckBuilder();
    deckBuilder.loadAllCards();
</script>
{% endblock javascript %}

{% block content %}
<div class="wrapper" style="max-width:1024px">
    <h1 style="display:flex;justify-content: space-between;">
  	<span>Build Deck</span>
  	<span>
  		<a onclick=deckBuilder.save() id=save_button>Save</a>
  	</span>
  </h1>
  <label for=username>Your Username:</label><br /> 
  <input name=username id=username value={% if request.GET.username %}{{request.GET.username}}{% else %}{{username}}{% endif %}></input>

  <div id=two_columns>
  	<div id=left_column class=column>
  		<h2>Available Cards</h2>  		
  		<div id=all_cards_container></div>
  	</div>
  	<div id=right_column class=column>
  		<h2 style="display:flex;justify-content: space-between;"><a onclick=deckBuilder.loadDeck()>Load Deck</a></h2>
  		<div id=new_deck_container style="padding:50px;padding-top:200px;text-align:center;font-size:16px;color:white;font-weight:bold">
  			Click cards on the left to add them to your deck. Decks must be 30 cards, no more than 2 of any card.
  		</div>
  	</div>
  </div>

  <div id="deckbuilder">
  </div>
</div>

<div id="data_store" csrf_token='{% csrf_token %}' all_cards='{{all_cards}}'></div>
<link rel="stylesheet" href="/static/css/nongame.css">

<style>
	#two_columns {
 		display: flex;
 		max-width:1024px;
	}

	.row {
		display: flex;
  		flex-direction: row;
  		flex-wrap: wrap;
  		width: 100%;
	}

	.column {
  		display: flex;
  		flex-direction: column;
  		flex-basis: 100%;
  		flex: 1;
	}
	#left_column {
		margin-right:20px;
	}
	#right_column {
		margin-left:20px;
	}
	#all_cards_container, #new_deck_container {
		background-color: blue;
		height:100%;
	}

	#save_button {
		background-color: lightgray;
		padding:10px;
		color:white;
		border-radius: 4px;

	}

</style>

{% endblock content %}