{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="/static/css/nongame.css">
{% endblock %}


{% block javascript %}
{% if request.META.HTTP_HOST == "127.0.0.1:8000" %}
    <script src="http://localhost:1234/main.js"></script>
{% else %}
    <script src="{% static 'dist/main.js' %}"></script>
{% endif %}
{% endblock javascript %}


{% block content %}
<div class="wrapper">
    <div id="app"></div>
</div>

<div id="data_store" json_decks="{{json_decks}}" all_cards="{{all_cards}}"></div>
{% endblock content %}