{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/nongame.css">
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1>Create a New DeckZap Game</h1>
  <p>Choose deckbuilder type and what cards to use.</p>
  <form method="POST">
    {% csrf_token %}

    <label for=game_type>Game Deckbuilder Type</label><br /> 
    <input type="radio" id="ingame" name="game_type" value="ingame" checked="checked">
    <label for="ingame">In-Game</label>
    <input type="radio" id="pregame" name="game_type" value="pregame">
    <label for="pregame">Pre-Game</label>
    <input type="radio" id="choose_race" name="game_type" value="choose_race">
    <label for="choose_race">Choose Race (in-game deckbuilding)</label>
    <input type="radio" id="choose_race_prebuilt" name="game_type" value="choose_race_prebuilt">
    <label for="choose_race_prebuilt">Choose Race (pre-built decks)</label>
    <br /><br />
    <label for=ai_type>AI Type</label><br /> 
    <input type="radio" id="pvp" name="ai_type" value="pvp" checked="checked">
    <label for="ingame">Player vs. Player</label>
    <input type="radio" id="pvai" name="ai_type" value="pvai">
    <label for="pvai">Player vs. AI</label>
    <br /><br />
    <button class=big-green-button type="submit" value="Create Game">Create Game</button>
  </form>
  <p class=error>{{error}}</p>
</div>
{% endblock content %}
