{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
  <h1>Play a Game</h1>
  <p>Choose one of the games to play.</p>
  <h2>Mainstream</h2>
  <h3>vs. AI</h3>
  <ul>
    <li><a href=/play/p_vs_ai_prebuilt>Choose Race, Pre-Built Decks</a></li>
    <li><a href=/play/p_vs_ai>Choose Race, In-game Deckbuilder</a></li>
  </ul>
  <h3>PvP</h3>
  <ul>
    <li><a href=/play/choose_race_prebuilt>Choose Race, Pre-Built Decks (In Queue: {{queue_database.choose_race_prebuilt.open_games|length}})</a></li>
    <li><a href=/play/choose_race>Choose Race, In-game Deckbuilder (In Queue: {{queue_database.choose_race.open_games|length}})</a></li>
    <li><a href=/play/ingame>In-game Deckbuilder (In Queue: {{queue_database.ingame.open_games|length}})</a></li>
    <li><a href=/play/pregame>Pre-game Deckbuilder (In Queue: {{queue_database.pregame.open_games|length}})</a></li>
  </ul>
  <h2>Player Built</h2>
  <ul>
    {% for g in custom_games %}
    <li><a href=/play/custom/{{g.id}}>{{g.username}}'s Game, Deckbuilder Type: {{g.game_type}} (In Queue: {{g.open_games|length}})</a></li>
    {% endfor %}
  </ul>
</div>
<link rel="stylesheet" href="/static/css/nongame.css">
{% endblock content %}

