{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script src="https://pixijs.download/v6.0.2/pixi.js"></script>
<script src = "{% static 'js/GameRoom.js' %}"></script>
<script src="{% static 'js/lib/bump.js' %}"></script>


<script src="https://cdn.jsdelivr.net/npm/pixi-filters@latest/dist/pixi-filters.js"></script>
<script src="{% static 'js/game.js' %}"></script>
<script type="text/javascript">
	const gameUX = new GameUX();
    const gameRoom = new GameRoom(gameUX);
    gameRoom.connect();
</script>
{% endblock javascript %}

{% block css %}
<link rel="stylesheet" href="/static/css/game.css">
{% endblock %}

{% block content %}

<div id=new_game>
</div>

<div id="data_store" ai_type = {{ai_type}} game_type = {{game_type}} room_code = {{room_code}} username = {{request.user.username}} ai = {{ai}} is_custom = {{is_custom}} custom_game_id = {{custom_game_id}}></div>

<div id="card_store" deck_id = {{deck_id}} all_cards = '{{all_cards}}' ></div>

{% endblock content %}