{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script src = "{% static 'js/game.js' %}"></script>
<script type="text/javascript">
    GameRoom.connect();
</script>
{% endblock javascript %}

{% block content %}

<div id=room>
    <div id=all_but_player_hand> 
        <div class=avatar id=opponent onclick=GameUX.opponentClick()>
            <img class=avatar_image src="{% static 'images/bear.png' %}" alt="bear" />
            <div>
                <div id=opponent_username></div>
                <div id=opponent_race></div>
                <div id=opponent_hit_points></div>
                <div id=opponent_mana></div>
                <div id=opponent_card_count></div>
                <div id=opponent_deck_count></div>
                <div id=opponent_played_pile_count></div>
                <div id=opponent_starting_effects></div>
                <div id=opponent_added_abilities></div>
            </div>
        </div>
        <div id=middle_long_row>
            <div>
                <div class=card_container id=opponent_in_play></div>
                <div class=card_container id=in_play></div>
            </div>
            <div id=right>
                <a id=end-turn-button onclick=GameUX.endTurn()>End Turn</a>
                <div id=turn_label>Turn 0 (setting up)</div>
                <div id=menu> 
                    <div id=title>Battle Wizard - Room {{room_code}}</div>
                    <a class=menu-button onclick=GameUX.viewHelp()>Help</a>
                    <a class=menu-button onclick=GameUX.nextRoom()>New Game</a>
                </div>
            </div>
        </div>
        <div class=avatar id=player1 onclick=GameUX.selfClick()>
            <img class=avatar_image src="{% static 'images/tiger.png' %}" alt="tiger" />
            <div>
                <div id=username></div>
                <div id=race></div>
                <div id=hit_points></div>
                <div id=mana></div>
                <div id=deck_count></div>
                <div id=played_pile_count></div>
                <div id=starting_effects></div>
                <div id=added_abilities></div>
            </div>
        </div>
    </div>
    <div class=card_container id=hand></div>
    <div id=game_log><div id=game_log_inner></div></div>
</div>

<div id=race_selector class="modal_view"></div>

<div id=fx_selector class="modal_view"></div>

<div id=make_selector class="modal_view"></div>

<div id="data_store" ai_type = {{ai_type}} game_type = {{game_type}} room_code = {{room_code}} username = {{username}} ai = {{ai}} is_custom = {{is_custom}} custom_game_id = {{custom_game_id}}></div>

<div id="card_store" deck_id = {{deck_id}} all_cards = '{{all_cards}}' ></div>


<link rel="stylesheet" href="/static/css/game.css">

{% endblock content %}
