{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/lib/bump.js' %}"></script>

    {% if request.META.HTTP_HOST == "127.0.0.1:8000" %}
      <script src="http://localhost:1234/main.js"></script>
    {% else %}
      <script src="{% static 'dist/main.js' %}"></script>
    {% endif %}

{% endblock javascript %}

{% block css %}
<link rel="stylesheet" href="/static/css/game.css">
{% endblock %}

{% block content %}

<div id=new_game>
</div>

<div id="data_store" ai_type = {{ai_type}} game_type = {{game_type}} room_code = {{room_code}} username = {{request.user.username}} ai = {{ai}} is_custom = {{is_custom}} custom_game_id = {{custom_game_id}}></div>

<div id="card_store" deck_id = {{deck_id}} all_cards = '{{all_cards}}' ></div>

{% endblock content %}