{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/nongame.css">
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1>Play a Game</h1>
  <p>Play a game vs. a bot, or invite a friend to join the queue with you.</p>
  <h2>Non-Deckbuilding</h2>
  <table>
    <tr>
      <td class=title_cell>Choose Race, Pre-Built Decks</td>
      <td><a class=button href=/play/pvai/choose_race_prebuilt?ai=aggro_bot>Aggro Bot</a></td>
      <td><a class=button href=/play/pvai/choose_race_prebuilt?ai=random_bot>Random Bot</a></td>
      <td><a class="button twoline" href=/play/pvp/choose_race_prebuilt>Human <br/>(In Queue: {{queue_database.pvp.choose_race_prebuilt.open_games|length}})</a></td>
    </tr>
    <tr>
      <td class=title_cell>Choose Race, In-game Deckbuilder</td>
      <td><a class=button href=/play/pvai/choose_race?ai=aggro_bot>Aggro Bot</a></td>
      <td><a class=button href=/play/pvai/choose_race?ai=random_bot>Random Bot</a></td>
      <td><a class="button twoline" href=/play/pvp/choose_race>Human <br/>(In Queue: {{queue_database.pvp.choose_race.open_games|length}})</a></td>
    </tr>
    <tr>
      <td class=title_cell>In-game Deckbuilder</td>
      <td><a class=button href=/play/pvai/ingame?ai=aggro_bot>Aggro Bot</a></td>
      <td><a class=button href=/play/pvai/ingame?ai=random_bot>Random Bot</a></td>
      <td><a class="button twoline" href=/play/pvp/ingame>Human <br/>(In Queue: {{queue_database.pvp.ingame.open_games|length}})</a></td>
    </tr>
  </table>
  <h2>Deckbuilder</h2>
  <table>
    <tr>
      <td class=title_cell>Build a 30-card deck</td>
      <td>
        {% if user.username %}<a class=button href=/u/{{user.username}}>My Decks</a>{% else %}<a class=button href=/build_deck>Build Deck</a>{% endif %}
      </td>
      <td></td>
    </tr>
  </table> 

    <!-- tr>
      <td>Pre-game Deckbuilder with FX Choice</td>
      <td><em>(In Queue: {{queue_database.pvp.pregame.open_games|length}})</em></td>
      <td><a class=button href=/play/pvp/pregame{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>Find Match</a></td>
    </tr>
  </table>

  <h2>Player Built</h2>
  <ul>
    {% for g in custom_games %}
    <li><a href=/play/custom/{{g.id}}>{{g.username}}'s Game, Deckbuilder Type: {{g.game_type}} (In Queue: {{g.open_games|length}})</a></li>
    {% endfor %}
  </ul-->
</div>

<style type="text/css">
  td {
    padding-right:10px;
  }

  .twoline {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
  }
  .title_cell {
    width: 120px;
  }
</style>
{% endblock content %}

