{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
  <p>Wizard battle card games.</p>
  <p>Play the mainstream, or create your own versions of cards and rules for custom games.</p>
  <p>Free to play, non-collectible.</p>
  <form method="POST">
    {% csrf_token %}
    <input type="submit" class="button" value="Play Games" name="menu" />
    <input type="submit" class="button" value="Create Game" name="menu"/>
	</form>
</div>

<style>
	input {
		background-color: blue;
		color:white;
		width:150px;
		height:60px;
		border: none;
		border-radius: 4px;
		font-weight:bold;
		font-size:18px;
	}
</style>

<link rel="stylesheet" href="/static/css/nongame.css">

{% endblock content %}