{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/nongame.css">
{% endblock %}

{% block content %}
<div class="wrapper">
  <h1>Nothing to Collect, Play Today</h1>
  <p>Wizard battle card games.</p>
  <p>Play the mainstream, or create your own versions of cards and rules for custom games.</p>
  <p>Free to play, non-collectible.</p>
  <a class=button href=/games{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>Play Games</a>
  <a class=button href=/build_deck{% if request.GET.username %}?username={{request.GET.username}}{% endif %}>Build Deck</a>
</div>

{% endblock content %}