{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/nongame.css">
{% endblock %}

{% block content %}
<div class="wrapper">
	<h1>DeckZap Manifesto</h1>
	<p>CCG is an anti-pattern for making the largest community for competitive card games.</p>
	<ul>
		<li>Everyone should have access to the best cards.</li>
		<li>There should be paid and free-to-play options.</li>
		<li>Paid options should focus on what formats you can play, not what cards you can access.</li>
	</ul> 
	<p>Players should be involved in building cards/formats.</p>
	<ul>
		<li>Players should directly impact the game and cards, not just decks.</li>
		<li>Players should be able to script/code to change the game() or make new game(s).</li>
		<li>Most players don't like to build decks.</li>
	</ul>
	<p>AI is important to card games.</p>
	<ul>
		<li>Cards can be better balanced by bots.</li>
		<li>Superhuman bot quality is possible.</li>
		<li>Bots can identify the best decks to ease the work fo a new metagame and make new formats more fun.</li>
	</ul>

	<a href=mailto:andrewljohnson@gmail.com>Email me</a> to discuss.
	</div>


{% endblock content %}
