{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script type="text/javascript">
    GameRoom.connect();
</script>
{% endblock javascript %}

{% block content %}

<div>
    <div id=all_but_player_hand> 
        <div class=avatar id=opponent onclick=GamePainter.opponentClick()>
            <img class=avatar_image src="{% static 'images/bear.png' %}" alt="tiger" />
            <div>
                <div id=opponent_username></div>
                <div id=opponent_hit_points></div>
                <div id=opponent_mana></div>
                <div id=opponent_card_count></div>
            </div>
        </div>
        <div id=middle_long_row>
            <div>
                <div class=card_container id=opponent_in_play></div>
                <div class=card_container id=in_play></div>
            </div>
            <div id=right>
                <a id=end-turn-button onclick=GameRoom.endTurn()>End Turn</a>
                <div id=menu> 
                    <div id=title>CoFX - room_{{room_code}}</div>
                    <a class=menu-button onclick=GamePainter.viewHelp()>Help</a>
                    <a class=menu-button onclick=GameRoom.nextRoom()>New Game</a>
                </div>
            </div>
        </div>
        <div class=avatar id=player1>
            <img class=avatar_image src="{% static 'images/tiger.png' %}" alt="tiger" />
            <div>
                <div id=username></div>
                <div id=hit_points></div>
                <div id=mana></div>
            </div>
        </div>
    </div>
    <div class=card_container id=hand></div>
</div>

<div id="data_store" room_code = {{room_code}} username = {{username}}></div>

<style>
    #all_but_player_hand {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .avatar {
        margin: 10px auto;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: lightgray;
        border-radius: 6px;
    }

    .avatar div {
        padding-left: 3px;
    }
    
    .avatar_image {
        width: 100px;
        border-radius: 6px;
    }

    .card_container {
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
    }

    #middle_long_row {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;        
    }
    #title {
        color:lightgray;
        clear:both;
    }

    #end-turn-button {
        display: block;
        width: 100px;
        background-color: red;
        color: white;
        border-radius: 6px;
        border: white 1px;
        text-decoration: none;
        font-size: 24px;
        padding: 10px;
        text-align:center;
    }

    #menu {
        margin-top:30px;
    }

    .menu-button {
        display: block;
        width: 110px;
        background-color: white;
        border-radius: 6px;
        border: gray 1px solid;
        text-decoration: none;
        font-size: 12px;
        padding: 5px;
        text-align:center;
        margin-top:5px;
    }

    #hand {
        margin-top: 10px;
    }

    #right {
        padding-left:10px;
    }

    #in_play {
height:110px;width:610px;background-color:black;
    }

    #opponent_in_play {
height:110px;width:610px;background-color:black;
    }

    #hand {
    height:110px;width:100%;background-color:yellow;    
    }

                        

</style>

{% endblock content %}