{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <div id=all_but_footer> 
        <div id=left>
            <div class=avatar id =opponent>
                <img class=avatar_image src="{% static 'images/bear.png' %}" alt="tiger" />
                <div>
                    <div id=opponent_username></div>
                    <div id=opponent_hit_points></div>
                    <div id=opponent_mana></div>
                    <div id=opponent_card_count></div>
                </div>
            </div>
            <div>
                <div class=card_container id=opponent_in_play></div>
                <div class=card_container id=in_play></div>
                <div class=card_container id=hand></div>
            </div>
            <div class=avatar id=player1>
                <img class=avatar_image src="{% static 'images/tiger.png' %}" alt="tiger" />
                <div>
                    <div id=username></div>
                    <div id=hit_points></div>
                    <div id=mana></div>
                </div>
            </div>
        </div>
        <div id=right>
            <a id=end-turn-button href=# onclick=endTurn()>End Turn</a>
        </div>
    </div>
    <div id=footer>CoFX - room_{{room_code}} - <a href=# onclick=nextRoom()>Push Players to new Game</a></div>
</div>

<div id="data_store" room_code = {{room_code}} username = {{username}}></div>

<style>
    .avatar {
        margin: 10px auto;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: lightgray;
        border-radius: 6px;
    }

    .avatar div {
        padding-left: 3px;
    }
    
    .avatar_image {
        width: 100px;
        border-radius: 6px;
    }

    .card_container {
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
    }

    #all_but_footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #footer {
        color:lightgray;
        clear:both;
        padding-top:60px;
    }

    #end-turn-button {
        display: block;
        width: 100px;
        background-color: gray;
        color: white;
        border-radius: 6px;
        border: white 1px;
        text-decoration: none;
        font-size: 24px;
        padding: 10px;
        text-align:center;
    }

    #hand {
        margin-top: 10px;
    }

    #right {
        padding-left:10px;
    }

</style>

{% endblock content %}