{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
  <h1>Welcome to CoFX Game</h1>
  <form method="POST">
    {% csrf_token %}
    <div class='form-control'>
      <label for="room">Room id</label>
      <input id="room" type="text" name="room_code" required />
    </div>
    <div class='form-control'>
      <label for="room">Username</label>
      <input id="username" type="text" name="username" required />
    </div>
    <input type="submit" class="button" value="Start Game" />
</div>
</form>
{% endblock content %}