    #all_but_player_hand {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .avatar {
        margin: 10px auto;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #DFBF9F;
        border: 4px solid #C4A484;
        border-radius: 6px;
        cursor: pointer;
    }

    .avatar div {
        padding-left: 3px;
    }
    
    .avatar_image {
        width: 110px;
        border-radius: 6px;
    }

    .card_container {
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
    }

    #middle_long_row {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;        
    }
    #title {
        color:lightgray;
        clear:both;
        width: 100%;
        text-align: center;
    }

    .light-gray-button {
        width:250px;height:100px;margin-top:30px;background-color:lightgray;color:white;font-size:24px;
    }

    .big-green-button {
        width:250px;height:100px;margin-top:30px;background-color:green;color:white;font-size:24px;
    }

    #end-turn-button {
        display: block;
        width: 120px;
        background-color: red;
        color: white;
        border-radius: 6px;
        border: white 1px;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        text-align:center;
    }

    #menu {
        margin-top:30px;
    }

    .menu-button {
        display: block;
        width: 130px;
        background-color: white;
        border-radius: 6px;
        border: gray 1px solid;
        text-decoration: none;
        font-size: 12px;
        padding: 5px;
        text-align:center;
        margin-top:5px;
    }

    #hand {
        margin-top: 10px;
    }

    #right {
        padding-left:10px;
    }

    #in_play {
        height:130px;width:610px;background-color:#765C48;margin-top:5px;
    }

    #opponent_in_play {
        height:130px;width:610px;background-color:#765C48;
    }

    #hand {
        height:130px;width:100%;background-color:#765C48;    
    }

                        
    * {
        user-select:none;
    }

    .modal_view {
        text-align:center;
        margin: 0 auto;
        width:100%;
        height:100%;
        display:none;
        position: absolute;
        top:0;
        left:0;
        
        flex-direction: column;
        justify-content: center;
    }

    #turn_label {
        width:100%;
        text-align:center;
        margin-top:5px;
    }

    #game_log {
        border : 1px solid lightgray;
        width:100%;
        margin-top:10px;
        overflow: hidden;
    }

    #game_log_inner {
        overflow-y: scroll;
        height: 120px;
    }

    a {
        cursor: pointer;
    }

    .error {
        color: red;
        font-weight: bold;
        font-size: 18px;
    }


