body {
    margin:0;
    width: 100%;
}

.wrapper {
    margin:10px;    
    max-width:  1024px;
    min-height:  800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

#app {
    min-width:  600px;
}

#card {
    margin-left:  60px;
    margin-top:  20px;
}


#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

#footer li {
  float: left;
}

ul.right-menu {
  float: right;
}

#footer li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 16px;
}

#footer li a:hover {
  background-color: #111111;
}

#footer a.gray-link {
    color: #A9A9A9;    
}

.blue-header {
    background-color:blue;
    margin:0;
    padding:10px;
    line-height:.6;
    padding-top:5px;
    padding-bottom:5px;
}

.blue-header-tall {
    padding-top:15px;
    padding-bottom:10px;
}

a.white-link {
    color: white;
    text-decoration:none;
}

a.current {
    text-decoration: none;
    color: white !important;
}

span.subtitle {
    color:#CCC;
    font-size:12px;
    margin:0;
    padding:0;    
}

a.button {
    background-color: blue;
    color:white;
    width:150px;
    height:40px;
    border: none;
    border-radius: 4px;
    font-weight:bold;
    font-size:18px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    padding-top:17px;
}
