body {
        margin:0;
    }

.wrapper {
	margin:5px;	
}

.wrapper a.button {
	background-color: blue;
	color:white;
	width:150px;
	height:40px;
	border: none;
	border-radius: 4px;
	font-weight:bold;
	font-size:18px;
	text-decoration: none;
	margin-top: 20px;
	margin-right: 20px;
	display: inline-block;
	text-align: center;
	padding-top:15px;
}
