body {
        margin:0;
    }

.wrapper {
	margin:10px;	
}

a.button {
	background-color: blue;
	color:white;
	width:150px;
	height:40px;
	border: none;
	border-radius: 4px;
	font-weight:bold;
	font-size:18px;
	text-decoration: none;
	margin-top: 20px;
	margin-right: 20px;
	display: inline-block;
	text-align: center;
	padding-top:17px;
}

a.button-small {
	width:48px;
	height:25px;
	font-size:14px;
	padding-top:10px;
}

a.button-top-right {	
	float:right;
	margin: 0;
	margin-top:-15px;
}

h1.title-with-button {
	margin-top:35px;
	margin-bottom:40px;
}

select {
	width:  290px;
}